:root {
  --primary-color: #0c0c0c;
  --secondary-color: #3b2a38;
  --tertiary-color: #233140;
  --bright-color: #dfc18e;
  --text-color: #eee;
}

html,
body {
  overflow-x: clip;
}

body {
  color: var(--text-color);
  background-color: var(--primary-color);
}

header,
section {
  min-height: 100vh;
}

.image-background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-header {
  background-image: url("../img/Collectif_Sound_Women_United_11.jpg");
}

.image-about {
  max-height: 400px;
  background-image: url("../img/Collectif_Sound_Women_United_15.jpg");
}

.image-mixtapes {
  max-height: 400px;
  background-image: url("../img/Collectif_Sound_Women_United_21.jpg");
}

.image-artists {
  max-height: 400px;
  background-image: url("../img/Collectif_Sound_Women_United_22.jpg");
}

.image-contact {
  max-height: 400px;
  background-image: url("../img/Collectif_Sound_Women_United_4.jpg");
}

.background-overlay-primary {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #ffffff00 0%,
    var(--primary-color) 100%
  );
  opacity: 1;
}

.background-overlay-secondary {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #ffffff00 0%,
    var(--secondary-color) 100%
  );
  opacity: 1;
}

#about a,
#mixtapes a,
#contact a {
  border-bottom: var(--tertiary-color) 2px solid;
}

a {
  text-decoration: none;
  outline: 0;
  color: var(--text-color);
}

a:hover {
  color: var(--bright-color);
}

section a:hover {
  color: var(--bright-color);
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 0.5em;
}

#header {
  background-color: var(--primary-color);
}

.background-color-primary {
  background-color: var(--primary-color);
}

.background-color-secondary {
  background-color: var(--secondary-color);
}

header .nav-link {
  position: relative;
  text-align: center;
}

@media (min-width: 500px) {
  #header-title {
    font-size: 65px;
  }

  #header-subtitle {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  header .container {
    padding-top: 150px;
    padding-bottom: 25px;
  }

  .navbar-fixed-top {
    padding: 15px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 5px 0;
  }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  header .nav-link i.fa-caret-down {
    opacity: 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  header .nav-link:hover i.fa-caret-down {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.navbar {
  background: rgba(0, 0, 0, 0.9);
}

.navbar .container-fluid {
  padding: 0 40px;
}

.navbar a:focus {
  outline: 0;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

section {
  padding-bottom: 200px;
}

section h2 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

section p {
  font-size: 18px;
  text-align: justify;
  color: #fff;
  padding-bottom: 1em;
}

section p.small {
  font-size: 16px;
}

footer {
  color: #fff;
  padding: 15px 0;
  background-color: var(--secondary-color);
}

footer h3 {
  margin-bottom: 30px;
}

.border-bright {
  border: var(--bright-color) solid 1px;
}

.border-darker {
  border: #242424 solid 2px;
}

.background-darker {
  background: rgba(0, 0, 0, 0.15);
}

.background-lighter {
  background: rgba(256, 256, 256, 0.01);
}

.socials .fab {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socials .fab:hover {
  transform: scale(1.3);
}

.artist-name {
  padding-top: 1em;
  font-size: 4em;
  font-weight: 600;
  text-align: left;
  line-height: 1em;
}

.artist-skills {
  padding-top: 1em;
  font-size: 1.5em;
  margin: 0 auto 20px;
  text-align: left;
  font-weight: 500;
  color: #ddd;
}

.artist-skills span:after {
  content: " ";
  display: inline-block;
  width: 30px;
}

.artist-info {
  font-size: 1.2em;
  text-align: left;
  border-left: 3px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-left: 20px;
}

.artist-info-title {
  font-size: 1em;
  color: #9c9c9c;
  text-transform: uppercase;
}

.artist-info-content {
  font-size: 1.1em;
  text-align: left;
}

.artist-bio {
  margin: 3em auto;
  font-size: 1.2em;
  text-align: justify;
}

.artist-players {
  margin-top: 5em;
}

.list-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-link {
  text-align: left;
}

.button-link button {
  padding: 0 1.2em;
  border: 2px solid var(--secondary-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.8s;
  z-index: 1;
  color: var(--secondary-color);
  border-radius: 7px;
  height: 50px;
}

.button-link button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--secondary-color);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-link button:hover::before {
  width: 130%;
}

.button-link button:hover {
  color: #111;
}

.button-link a {
  font-size: 14px;
  text-decoration: none;
}

.selected-tags,
.selected-skills,
.selected-locations {
  margin-top: 5px;
}

#filters input[type="checkbox"] {
  display: none;
}

#filters .filter-button {
  display: inline-block;
  padding: 3px 10px;
  margin: 5px;
  color: var(--bright-color);
  background-color: var(--secondary-color);
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 700;
}

#filters .location .filter-button {
  background-color: rgba(59, 42, 56, 0.7);
}

#filters .sound-system .filter-button {
  background-color: rgba(59, 42, 56, 0.45);
}

#filters input[type="checkbox"]:checked + .filter-button {
  background-color: #4f4261;
  color: var(--text-color);
  border: 2px solid #e5c590;
}

#filters .filter-button:hover {
  background-color: #625770;
}

#filters .filter-type {
  display: inline-block;
  padding: 3px 10px;
  margin: 5px;
  color: var(--text-color);
  background-color: var(--tertiary-color);
  border: 2px solid transparent;
  font-weight: 700;
  text-transform: uppercase;
}

.checkbox-wrapper-8 .tgl {
  display: none;
  background: none;
}

.checkbox-wrapper-8 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  min-height: 3em;
  padding-top: 5px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  background: var(--secondary-color);
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
  color: var(--bright-color);
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}

.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
  background: var(--tertiary-color);
}

.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}

.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.checkbox-wrapper-8 .tgl-btn:hover {
  border: var(--bright-color) 2px solid;
}

.navbar-brand {
  color: var(--bright-color) !important;
}

.nav-link-section {
  color: var(--text-color) !important;
}

.nav-link-section:hover {
  color: var(--bright-color) !important;
}

#artists .card {
  border: #242424 solid 2px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#artists .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 5px rgba(256, 256, 256, 0.1);
  cursor: pointer;
}

#artists .card-artist-name {
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
}

.bandcamp-iframe {
  width: 280px;
  height: 422px;
}

@media (min-width: 992px) {
  .bandcamp-iframe {
    width: 350px;
    height: 470px;
  }
}
